<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<ul>
			    <li><a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
			    <li><a title="Report Issue" href="{{ site.issue }}" target="_blank">Github</a></li>
			</ul>	
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Kunpeng Compute Team Blog" href="{{ site.github }}" target="_blank">Github</a></li>
			</ul>
		</section>
	</div>
</footer>